@font-face {
    font-family: "Overlock-Regular";
    src: url('../fonts/Overlock-Regular.ttf') format("truetype");
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #ddd;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    text-align: center;
    font-family: 'Overlock-Regular', monospace;
}

h1 {
    color: #634a4d;
    font-size: 3rem;
    padding: 3rem;
    margin-top: 4rem;
}

h2 {
    color: #634a4d;
    font-size: 2rem;
}

.pred-input-form {
    width: 80%;
    display: flex;
    flex-direction: column;
}

.pred-input-form label {
    padding: 1rem 1rem 1rem 0;
    text-align: start;
    font-weight: 700;
    font-size: 1.5rem;
}

.pred-input-form textarea {
    background-color: #eee;
    border-radius: 0.7rem;
    border: none;
    padding: 1rem;
}

.pred-input-field {
    color: #634a4d;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.sbm-button {
    padding: 1rem;
}

.sbm-button button {
    padding: 1rem;
    font-size: 1.2rem;
    color: #868686;
    background-color: transparent;
    border-radius: 1rem;
    border: 0.15rem solid #868686;
}

.sbm-button button:hover {
    color: #ddd;
    background-color: #262626;
    border: 0.15rem solid #262626;
}

.prediction-div {
    padding: 1rem;
}

.prediction-div p {
    font-size: 1.3rem;
}

.true-pred {
    color: red;
}

.false-pred {
    color: green;
}

.error-div {
    display: flex;
    justify-content: center;
    font-size: 1.3rem;
}

.error-div p {
    padding: 0.1rem;
}

.error-label {
    color: red;
}